body{
	background-image: url("https://ununsplash.imgix.net/photo-1414788020357-3690cfdab669?q=75&fm=jpg&s=da7d3842604f06bf5c6ded7f4fe7aeed");
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	color: white;
	font-family: 'Indie Flower', cursive;
}

label{
	font-size: 25px;
}

/*media query to change color*/
@media (max-width:320px){
	body{
		background-color: lightblue;
	}

@media (max-width:1024px){
	body{
		background-color: green;
	}
}